* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
  }

  :root {
    --primary-color: #000000;
    --secondary-color: #ffffff;
    --text-color: #ffffff;
    --background-color: #190031;
    --border-color: #663399;
  }

  @font-face {
    font-family: 'Hahmlet';
    src: url(/Hahmlet.ttf);
  }
  body {
    background: var(--background-color);
    margin: 0;
  }
  
  canvas {
    width: 1024px;
    height: 576px;
    padding: 2px;
    border: 10px solid var(--border-color);
    border-radius: 8px;
    box-shadow: 0 0 10px 10px #15002a
  }

  h1 {
    font-family: 'Hahmlet', sans-serif;
    color: var(--text-color);
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
  
  }

  .main {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    min-height: 100vh;
    gap:20px
  }