* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
  }
  body {
    background: black;
    margin: 0;
  }
  
  canvas {
    width: 1024px;
    height: 576px;
  }